@use '../abstract' as *;

header {
  padding: 1.9375rem 1.5rem 1rem 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.25rem;

  h1 {
    font-size: 1.625rem;
    font-weight: var(--font-weight);
  }

  &-toggle {
    display: flex;
    gap: 1rem;

    p {
      color: var(--text-color);
      font-weight: var(--font-weight);
      letter-spacing: 2.5px;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
}
