@use "../variables/mixins" as *;

.search {
  background-color: var(--background-content);
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  margin: 0 1.5rem;

  &-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6.5px 7px 7.5px 1rem;

    input {
      @include mq(tablet) {
        width: 254px;
      }

      &::placeholder {
        color: var(--text-color);
        font-size: 13px;

        @include mq(tablet) {
          width: 254px;
        }
      }

      &:focus {
        color: var(--repo-color);
      }
    }

    &-glass {
      display: flex;
      gap: 8.95px;
      align-items: center;
    }
  }

  img {
    width: 1.25rem;
    height: 1.25rem;

    // @include mq(tablet) {
    //   width: 1.5rem;
    //   height: 1.5rem;
    // }
  }

  button {
    width: 5.25rem;
    height: 2.875rem;
    background-color: var(--blue);
    font-size: 0.875rem;
    font-weight: var(--bold);
    color: var(--white);
    border-radius: 10px;
    margin-left: -1rem;
  }
}

// To hide the label
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Error
.error {
  visibility: hidden;

  &-visible {
    color: red;
  }
}
