:root {
  --blue: hsla(212, 100%, 50%, 1);
  --blue_gray: hsla(227, 100%, 98%, 1);
  --gray: hsla(217, 20%, 51%, 1);
  --blue-white: hsla(217, 35%, 45%, 1);
  --light-black: hsla(217, 21%, 21%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --dark: hsla(220, 40%, 13%, 1);
  --dark-blue: hsla(222, 41%, 20%, 1);
  --box-shadow: 0px 16px 30px -10px #4660bb33;
  --color-logo: hsla(217, 35%, 45%, 1);
  --filter: invert(100%) sepia(59%) saturate(2%) hue-rotate(323deg)
    brightness(120%) contrast(100);
  --filter-img: brightness(0%);
  --filter-img-reverse: invert(50%) sepia(11%) saturate(963%) hue-rotate(178deg)
    brightness(93%) contrast(89%);
  --shadow-none: none;
  --font-weight: 400;
  --bold: 700;
  --hover-blue: hsla(212, 100%, 69%, 1);

  --background: var(--blue_gray);
  --background-content: var(--white);
  --background-repo: var(--blue_gray);
  --text-color: var(--blue-white);
  --repo-color: var(--dark);
  --color-image: var(--color-logo);
  --hover-text: var(--dark);
  --hover-img: var(--filter-img);
}

.dark {
  --background: var(--dark);
  --background-content: var(--dark-blue);
  --background-text: var(--dark-blue);
  --background-repo: var(--dark);
  --title-color: var(--white);
  --text-color: var(--white);
  --toggle: var(--white);
  --box-shadow: var(--shadow-none);
  --font-weight: var(--bold);
  --repo-color: var(--white);
  --color-image: var(--filter);
  --hover-text: var(--blue-white);
  --hover-img: var(--filter-img-reverse);
}
