// == LIGHT MODE COLORS
$blue: hsla(212, 100%, 50%, 1);
$gray: hsla(217, 20%, 51%, 1);
$blue-gray: hsl(217, 35%, 45%, 1);
$light-black: hsla(217, 21%, 21%, 1);
$light-gray: hsla(227, 100%, 98%, 1);

// == DARK MODE COLORS
$white: hsla(0, 0%, 100%, 1);
$black: hsla(220, 40%, 13%, 1);
$dark_blue: hsla(222, 41%, 20%, 1);

// == FONTS == //
$normal: 400;
$bold: 700;
