// == LIGHT MODE COLORS
$blue: hsl(212, 100, 50);
$gray: hsl(217, 20, 51);
$blue-gray: hsl(217, 35, 45);
$light-black: #2b3442;
$light-gray: hsl(227, 100, 98);

// == DARK MODE COLORS
$white: hsl(0, 0, 100);
$black: hsl(220, 40, 13);
$dark_blue: hsl(222, 41, 20);

// == FONTS == //
$normal: 400;
$bold: 700;
