@use "../abstract" as *;

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  font-family: "Space Mono", monospace;
}

body {
  height: 100vh;
  background-color: var(--light-gray);
}

h1,
h2 {
  color: var(--title-color);
}

p {
  font-size: 0.9375rem;
}
